* {
  margin: 0;
  padding: 0;
  font-family: DM-Sans;
  box-sizing: border-box; }

@font-face {
  font-family: DM-Sans;
  src: url(../Fuentes/DM-Sans/DMSans-Bold.ttf); }

body {
  background-color: #fff6eb; }

li,
a {
  text-decoration: none;
  list-style: none; }

/* GRIDS */
.contenido {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto auto;
  grid-template-areas: "header" "main" "footer"; }

header {
  grid-area: header;
  background-color: #fff6eb; }

main {
  grid-area: main; }

footer {
  grid-area: footer; }

/*HEADER SUPERIOR*/
.headerSuperior {
  width: 50%;
  display: flex;
  justify-content: center; }

.logo img {
  height: 90px;
  width: 240px;
  margin-bottom: 20px;
  margin-top: 20px; }
  .logo img:active {
    transform: scale(1.01); }

/*BARRA DE NAVEGACION*/
.navbar {
  border-bottom: 3px solid #410d0d; }

/*MAIN*/
.imagenes {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 2px; }
  .imagenes img {
    width: 100%;
    height: 100%; }
  @media (min-width: 320px) and (max-width: 750px) {
    .imagenes {
      grid-template-columns: 1fr;
      grid-template-rows: 1fr;
      gap: 2px; } }
  @media (min-width: 320px) and (max-width: 550px) {
    .imagenes {
      display: flex;
      flex-direction: column; }
      .imagenes img {
        width: 100%; } }

/* FOOTER */
footer {
  width: 100%;
  height: 100%;
  background-color: #3b1e1b;
  border-top: 2px solid #cac4c4; }

.textfooter {
  display: flex;
  justify-content: space-around; }
  .textfooter nav {
    width: auto;
    height: auto; }
  .textfooter h2 {
    margin-top: 20px;
    margin-bottom: 20px;
    color: white;
    font-size: 20px; }
  .textfooter ul {
    width: 100%;
    height: auto;
    list-style: none;
    padding-left: 0; }
    .textfooter ul li {
      width: 100%;
      height: auto;
      margin-bottom: 10px; }
      .textfooter ul li a {
        color: #cac4c4;
        font-size: 18px;
        font-style: oblique; }
        .textfooter ul li a:hover {
          color: white; }
  @media (min-width: 320px) and (max-width: 550px) {
    .textfooter {
      flex-direction: column;
      text-align: center; } }

.social {
  width: 100%;
  height: 200px;
  background-image: url(../image/cafe.jpg);
  background-size: cover;
  border-top: 2px solid #cac4c4;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; }
  .social span {
    display: block;
    text-align: center;
    color: white;
    font-size: 16px; }

.redes {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 10px; }
  .redes img {
    width: 70px;
    height: 70px;
    margin: 10px; }
    .redes img:hover {
      transform: scale(1.1); }
    @media (min-width: 320px) and (max-width: 550px) {
      .redes img {
        width: 50px;
        height: 50px; } }
  @media (min-width: 320px) and (max-width: 550px) {
    .redes {
      width: 50px;
      height: 50px; } }

/*COMIDAS*/
.desayuno,
.almuerzo,
.jugos,
.postre {
  width: 90%;
  background-color: #fff6eb;
  display: flex;
  justify-content: center;
  flex-direction: column;
  border-right: solid 4px #410d0d; }
  @media (min-width: 320px) and (max-width: 992px) {
    .desayuno,
    .almuerzo,
    .jugos,
    .postre {
      width: 95%;
      border-right: none; } }

.comidas {
  display: flex;
  justify-content: center; }
  .comidas img {
    margin: 20px;
    width: 460px;
    height: 300px; }
    .comidas img:hover {
      transform: scale(1.01);
      box-shadow: 0px 10px 15px 0px rgba(0, 0, 0, 0.8); }
    @media (min-width: 320px) and (max-width: 480px) {
      .comidas img {
        width: 320px;
        height: 200px; } }
  .comidas section {
    margin: 20px;
    display: flex; }
    @media (min-width: 320px) and (max-width: 992px) {
      .comidas section {
        display: flex;
        flex-direction: column;
        margin: 10px;
        align-items: center;
        border-bottom: solid 3px #410d0d; } }
  .comidas h2 {
    margin: 30px 0px 10px 0px;
    text-align: center;
    font-size: 20px;
    color: #800a0a; }
  .comidas p {
    margin: 10px;
    padding: 20px;
    text-align: center;
    font-size: 16px;
    color: black; }
    @media (min-width: 320px) and (max-width: 992px) {
      .comidas p {
        padding: 20px 40px 20px 40px;
        font-size: 18px; } }
  @media (min-width: 320px) and (max-width: 550px) {
    .comidas img {
      margin: 20px 0px 20px 0px; }
    .comidas section {
      margin: 0px; }
    .comidas h2 {
      margin: 20px 0px 10px 0px; }
    .comidas p {
      margin: 0px; } }

/*MAPA*/
.mapa {
  overflow: hidden;
  padding-bottom: 40%;
  position: relative;
  height: 0%; }
  .mapa iframe {
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    position: absolute; }
  @media (min-width: 320px) and (max-width: 820px) {
    .mapa {
      padding-bottom: 50%; } }
  @media (min-width: 320px) and (max-width: 750px) {
    .mapa {
      padding-bottom: 80%; } }

/*CONTACTO*/
.bosque {
  background-image: url(../image/Bosque.png); }

.formulario {
  width: 810px;
  height: 500px;
  background-color: #16161a;
  padding: 30px;
  margin: auto;
  margin-top: 40px;
  margin-bottom: 50px;
  box-shadow: 0px 30px 30px 10px black; }
  @media (min-width: 320px) and (max-width: 820px) {
    .formulario {
      width: 90%;
      height: auto; } }
  @media (min-width: 320px) and (max-width: 550px) {
    .formulario {
      width: 100%;
      height: auto;
      margin: 20px 0px 20px 0px;
      background-color: none;
      padding: 10px;
      box-shadow: none; } }

.formbox h2 {
  color: white;
  font-size: 25px;
  text-align: center;
  margin: 10px;
  margin-bottom: 30px; }

.formtext {
  display: flex; }
  .formtext input {
    background-color: #16161a;
    margin: 10px;
    padding: 7px;
    border-radius: 4px;
    border: 2px solid #484ea7;
    width: 400px;
    color: aliceblue; }
    @media (min-width: 320px) and (max-width: 550px) {
      .formtext input {
        width: 450px; } }
    @media (min-width: 320px) and (max-width: 480px) {
      .formtext input {
        width: 300px; } }
  @media (min-width: 320px) and (max-width: 820px) {
    .formtext {
      display: block; }
      .formtext div {
        text-align: center; } }

.formtext2 input {
  width: 188px; }
  @media (min-width: 320px) and (max-width: 550px) {
    .formtext2 input {
      width: 450px; } }
  @media (min-width: 320px) and (max-width: 480px) {
    .formtext2 input {
      width: 300px; } }

.escribenos textarea {
  border-radius: 4px;
  margin: 10px;
  width: auto;
  height: auto;
  border: solid 4px #e5e5fa;
  background-color: #e5e5fa;
  font-size: 16px; }
  @media (min-width: 320px) and (max-width: 820px) {
    .escribenos textarea {
      width: 350px;
      margin: 20px; } }
  @media (min-width: 320px) and (max-width: 550px) {
    .escribenos textarea {
      width: 400px;
      margin: 10px 0px 0px 0px; } }
  @media (min-width: 320px) and (max-width: 480px) {
    .escribenos textarea {
      width: 300px; } }

.botons {
  width: 100%;
  margin-top: 20px;
  display: inline-block;
  text-align: center; }

.boton, .enviar, .limpiar {
  display: inline-block;
  width: 350px;
  margin: 10px;
  padding: 7px;
  border-radius: 4px;
  color: aliceblue;
  background-color: #484ea7;
  border: 2px solid #484ea7; }
  .boton:active, .enviar:active, .limpiar:active {
    transform: scale(1.04); }
  @media (min-width: 320px) and (max-width: 550px) {
    .boton, .enviar, .limpiar {
      width: 400px; } }
  @media (min-width: 320px) and (max-width: 480px) {
    .boton, .enviar, .limpiar {
      width: 300px; } }

.enviar {
  background-color: #04244e;
  border: 2px solid #04244e; }
  .enviar:Active {
    background-color: #083672; }

.limpiar {
  background-color: #460404;
  border: 2px solid #460404; }
  .limpiar:Active {
    background-color: #740606; }

/*QUIENES SOMOS*/
.arbol img {
  width: 100%; }

.nosotros {
  width: auto;
  margin: 20px;
  text-align: center; }
  .nosotros h2 {
    margin: 20px;
    color: #800a0a; }
  .nosotros p {
    margin: 20px;
    padding: 0px 30px 0px 30px;
    margin-bottom: 20px; }
  .nosotros img {
    width: 450px;
    height: 500px; }
    @media (min-width: 320px) and (max-width: 480px) {
      .nosotros img {
        width: 320px;
        height: 350px; } }
  @media (min-width: 320px) and (max-width: 550px) {
    .nosotros {
      margin: 20px 0px 0px 0px; }
      .nosotros h2 {
        margin: 20px 0px 0px 0px; }
      .nosotros p {
        margin: 20px 0px 0px 0px;
        padding: 0px 30px 0px 30px;
        margin-bottom: 20px; } }
