$border-header:rgb(65, 13, 13);
$color-fondo:rgb(255, 246, 235);
$border-footer:rgb(202, 196, 196);
$h2-footer:rgb(255, 255, 255);
$a-footer:rgb(202, 196, 196);
$span-footer:rgb(255, 255, 255);
$hover-footer: rgb(255, 255, 255);
$background-footer:#3b1e1b;
$h2-comidas:rgb(128, 10, 10);
$p-comidas:rgb(0, 0, 0);
$background-form:rgb(22, 22, 26);
$h2-form:white;
$border-form:rgb(72, 78, 167);
$color-textarea:rgb(229, 229, 250);
$h2-nosotros:rgb(128, 10, 10);