@import "variables";
@import "mixins";

@function color($color-name) {
    @return map-get($colors, $color-name)
}

* {
    margin: 0;
    padding: 0;
    font-family: DM-Sans;
    box-sizing: border-box;
}

@font-face {
    font-family: DM-Sans;
    src: url(../Fuentes/DM-Sans/DMSans-Bold.ttf);
}

body {
    background-color: color(color-fondo);
}

li,
a {
    text-decoration: none;
    list-style: none;
}

/* GRIDS */

.contenido {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto;
    grid-template-areas:
        "header"
        "main"
        "footer";
}

header {
    grid-area: header;
    background-color: color(color-fondo);
}

main {
    grid-area: main;
}

footer {
    grid-area: footer;
}

/*BARRA DE NAVEGACION*/

.logo img {
    height: 90px;
    width: 240px;
    margin-bottom: 20px;
    margin-top: 20px;

    &:active {
        transform: scale(1.01);
    }
}

.navbar {
    border-bottom: 3px solid color(border-header);
}

/*MAIN*/

.imagenes {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 2px;

    img {
        width: 100%;
        height: 100%;
    }

    @include movil {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
        gap: 2px;
    }

    @include movil-mid {
        display: flex;
        flex-direction: column;

        img {
            width: 100%;
        }
    }
}

/* FOOTER */

footer {
    width: 100%;
    height: 100%;
    background-color: color(background-footer);
    border-top: 2px solid color(border-footer);
}


.textfooter {
    display: flex;
    justify-content: space-around;

    nav {
        width: auto;
        height: auto;
    }

    h2 {
        margin-top: 20px;
        margin-bottom: 20px;
        color: color(h2-footer);
        font-size: 20px;
    }

    ul {
        width: 100%;
        height: auto;
        list-style: none;
        padding-left: 0;

        li {
            width: 100%;
            height: auto;
            margin-bottom: 10px;

            a {
                color: color(a-footer);
                font-size: 18px;
                font-style: oblique;

                &:hover {
                    color: color(hover-footer);
                }
            }
        }
    }

    @include movil-mid {
        flex-direction: column;
        text-align: center;
    }
}


.social {
    width: 100%;
    height: 200px;
    background-image: url(../image/cafe.jpg);
    background-size: cover;
    border-top: 2px solid color(border-footer);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    span {
        display: block;
        text-align: center;
        color: color(span-footer);
        font-size: 16px;
    }
}

.redes {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 10px;

    img {
        width: 70px;
        height: 70px;
        margin: 10px;

        &:hover {
            transform: scale(1.07);
        }

        @include movil-mid {
            width: 50px;
            height: 50px;
        }
    }

    .facebook:hover {
        filter: invert(40%) sepia(8%) saturate(3662%) hue-rotate(183deg) brightness(95%) contrast(88%);
    }

    .instagram:hover {
        filter: invert(30%) sepia(46%) saturate(2220%) hue-rotate(294deg) brightness(99%) contrast(85%);
    }

    .twitter:hover {
        filter: invert(68%) sepia(56%) saturate(6630%) hue-rotate(180deg) brightness(100%) contrast(89%);
    }

    .linkedin:hover {
        filter: invert(29%) sepia(87%) saturate(831%) hue-rotate(183deg) brightness(92%) contrast(89%);
    }
}


/*COMIDAS*/

.fondocomida {
    background-image: $fondocomida ;
    background-size: cover;
    background-repeat: no-repeat;
}

.desayuno,
.almuerzo,
.jugos,
.postre {
    width: 90%;
    background-color: color(color-fondo);
    display: flex;
    justify-content: center;
    flex-direction: column;
    box-shadow: $shadow-comida;

    @include movil {
        width: 100%;
    }
}

.comidas {
    display: flex;
    justify-content: center;

    img {
        margin: 20px;
        width: 460px;
        height: 300px;
        border-radius: 5px;

        &:hover {
            transform: scale(1.01);
            border-radius: 5px;
            box-shadow: $shadow-comida;
        }

        @include movil-mini {
            width: 320px;
            height: 200px;
        }
    }

    section {
        margin: 20px;
        display: flex;

        @include tablet {
            display: flex;
            flex-direction: column;
            margin: 10px;
            align-items: center;
            border-bottom: solid 3px color(border-header);

        }
    }

    h2 {
        margin: 30px 0px 10px 0px;
        text-align: center;
        font-size: 20px;
        color: color(h2-comidas);
    }

    p {
        margin: 10px;
        padding: 20px;
        text-align: center;
        font-size: 16px;
        color: color(p-comidas);

        @include tablet {
            padding: 20px 40px 20px 40px;
            font-size: 18px;
        }
    }

    @include movil-mid {
        img {
            margin: 20px 0px 20px 0px;
        }

        section {
            margin: 0px;
        }

        h2 {
            margin: 20px 0px 10px 0px;
        }

        p {
            margin: 0px;
        }
    }

}


/*MAPA*/

.mapa {
    overflow: hidden;
    padding-bottom: 40%;
    position: relative;
    height: 0%;

    iframe {
        left: 0;
        top: 0;
        height: 100%;
        width: 100%;
        position: absolute;
    }

    @include tablet-mid {
        padding-bottom: 50%;
    }

    @include movil {
        padding-bottom: 80%;
    }
}

/*CONTACTO*/

.bosque {
    background-image: url(../image/Bosque.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.formulario {
    width: 810px;
    height: 500px;
    background-color: color(background-form);
    padding: 30px;
    margin: auto;
    margin-top: 40px;
    margin-bottom: 50px;
    box-shadow: $shadow-form;

    @include tablet-mid {
        width: 90%;
        height: auto;
    }

    @include movil-mid {
        width: 100%;
        height: auto;
        margin: 20px 0px 20px 0px;
        background-color: none;
        padding: 10px;
        box-shadow: none;
    }
}

.formbox {
    h2 {
        color: color(h2-form);
        font-size: 25px;
        text-align: center;
        margin: 10px;
        margin-bottom: 30px;
    }
}

.formtext {
    display: flex;

    input {
        background-color: color(background-form);
        margin: 10px;
        padding: 7px;
        border-radius: 4px;
        border: 2px solid color(border-form);
        width: 400px;
        color: aliceblue;

        @include movil-mid {
            width: 450px;
        }

        @include movil-mini {
            width: 300px;
        }
    }

    @include tablet-mid {
        display: block;

        div {
            text-align: center;
        }
    }
}

.formtext2 input {
    width: 188px;

    @include movil-mid {
        width: 450px;
    }

    @include movil-mini {
        width: 300px;
    }
}

.escribenos textarea {
    border-radius: 4px;
    margin: 10px;
    width: auto;
    height: auto;
    border: solid 4px color(color-textarea);
    background-color: color(color-textarea);
    font-size: 16px;
    resize: none;

    @include tablet-mid {
        width: 350px;
        margin: 20px;
    }

    @include movil-mid {
        width: 400px;
        margin: 10px 0px 0px 0px;
    }

    @include movil-mini {
        width: 300px;
    }
}

.botons {
    width: 100%;
    margin-top: 20px;
    display: inline-block;
    text-align: center;
}

.boton {
    display: inline-block;
    width: 350px;
    margin: 10px;
    padding: 7px;
    border-radius: 4px;
    color: aliceblue;
    background-color: color(border-form);
    border: 2px solid color(border-form);

    &:active {
        transform: scale(1.04);
    }

    @include movil-mid {
        width: 400px;
    }

    @include movil-mini {
        width: 300px;
    }

}

.enviar {
    @extend .boton;
    background-color: color(btn-enviar);
    border: 2px solid color(btn-enviar);

    &:Active {
        background-color: color(btn-enviar-act);
    }
}

.limpiar {
    @extend .boton;
    background-color: color(btn-limpiar);
    border: 2px solid color(btn-limpiar);

    &:Active {
        background-color: color(btn-limpiar-act);
    }
}


/*QUIENES SOMOS*/


.banner img {
    width: 100%;
    border-bottom: 3px solid color(border-header);
}

.fondonosotros {
    background-image: $fondonosotros;
    background-size: cover;
    background-repeat: no-repeat;
}

.nosotros {
    width: 90%;
    margin: 0px auto;
    text-align: center;
    background-color: color(color-fondo);
    box-shadow: $shadow-nosotros;

    h2 {
        padding: 20px;
        color: color(h2-nosotros);
        font-size: 30px;
    }

    p {
        padding: 20px 130px;
        margin: 0;
        font-size: 18px;

        @include movil {
            padding: 0px 20px;
        }
    }

    img {
        width: 450px;
        height: 500px;
        margin: 20px 0px;

        @include movil-mini {
            width: 320px;
            height: 350px;
        }
    }

    h3 {
        padding: 10px;
        margin-top: 10px;
        color: color(h3-nosotros);
        font-size: 25px;
        font-weight: bold;
    }

    .proveedores {
        width: 80%;
        margin: 0px auto;

        ul {
            margin: 0px;
            display: flex;
            flex-direction: column;
            align-items: center;

            li {
                padding: 20px 0px;
                list-style: disc;
                font-size: 18px;
            }

            img {
                margin: 5px 0px 10px 0px;
                width: 150px;
                height: auto;

                &:hover {
                    transform: scale(1.08);
                }
            }

        }

        @include movil {
            padding: 0px 20px;
        }
    }

    @include movil {
        width: 100%;
    }
}